.nav {
    grid-area: n;
    background: #16a085;
}
.nav__item {
    cursor: pointer;
    transition: 0.3s;
}
.nav__item:hover {
    background: rgba(0, 0, 0, 0.3);
}
.nav__item a {
    display: block;
    padding: 10px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.selected{
    background: rgba(0, 0, 0, 0.5);
}