*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper {
    display: grid;
    grid-template-areas:
        "h h"
        "n c";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 10fr;

    width: 1500px;
    margin: auto;
}
.content {
    grid-area: c;
    background: #bdc3c7;
}

.app-wrapper-content{
    background: #74b9ff;
}